include CMakeLists.txt
include mkdocs.yml
include requirements-docs.txt
include .gitmodules
graft docs
graft data
recursive-include htsim/src *.cpp *.h
graft htslib
exclude htslib/.git
exclude htslib/htscodecs/.git
prune htslib/.github
prune htslib/ref_cache
prune htslib/samples
prune htslib/test
prune htslib/htscodecs/.github
prune htslib/htscodecs/javascript
prune htslib/htscodecs/tests
prune htsim/tests
prune tests
